@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}



@*Bloque de Presentacion*@
@Html.Partial("_Presentacion");

@*Bloque Experiencia*@
@Html.Partial("_Experiencias");

@*listado de Proyectos*@
<partial name="_Proyectos" model="Model.Proyectos"/>








































@*
        //    string ConvertirEnMayuscula(string valor)
//    {
//        return valor.ToUpper();
//    }

//    DateTime hoy = DateTime.Now;

//    var nombres = new List<string>() { "Juan Perez", "Maria Mejia", "Carlos Lopez" };
        @if (Model.Edad >= 21)
    //{
    //    <h5>Eres mayor de edad</h5>
    //}
    //else
    //{
    //    <h5>Usted esta peor que el que no tiene 21 años</h5>
    //}

    //<ul>
    //    @foreach (var nombre in nombres)
    //    {
    //        <li>@nombre</li>
    //    }
    </ul>*@

@*<h2>Ejemplo 1</h2>
<div>
    Guid Transitorio: <b style="color: red;">@Model.EjemploGuid_1.Transitorio</b>
</div>
<div>
    Guid Transitorio: <b style="color: green;">@Model.EjemploGuid_1.DeLimitado</b>
</div>
<div>
    Guid Transitorio: <b style="color: blue;">@Model.EjemploGuid_1.Unico</b>
</div>*@